/* star rating syle  */

.star-rating {
  display: inline-flex;
  flex-direction: row;
  font-size: 20px;
}

.star-rating .star {
  line-height: 32px;
  font-size: 32px; /* Increased size */
  color: #ddd;
  transition: color 0.1s ease-in-out;
}

.clickable {
  cursor: pointer;
}

.star-rating .star:hover,
.star-rating .star:hover ~ .star,
.star-rating[data-rating] .star {
  color: #ddd; /* Changed to a standard gold color */
}

.star-rating[data-rating="1"] .star:nth-child(1),
.star-rating[data-rating="2"] .star:nth-child(-n + 2),
.star-rating[data-rating="3"] .star:nth-child(-n + 3),
.star-rating[data-rating="4"] .star:nth-child(-n + 4),
.star-rating[data-rating="5"] .star:nth-child(-n + 5) {
  color: #ffd700;
}
